body{
	background-color: black;
}

video{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.side3 video{
	height: 100%;
	object-fit: cover;
}

.grid{
  margin: 0 auto;
  max-width: 100%;
  height: 1080px;
/*  max-height: 1000px;*/
  display: grid;
  grid-template-columns: repeat(5, 6);
  grid-template-areas: "sidex4 side1 side1 side5 side11 side11"
                       "sidex4 side2 side2 side5 side7 side8"
                       "side3 side4 side4 side5 side7 side8"
                       "sidex sidex sidex side6 side9 side9"
                       "side10 side10 side10 side10 side10 side10";
    overflow: hidden;
      background-color: black;

  /* Add the blur effect */
/*  filter: blur(4px);
  -webkit-filter: blur(4px);*/

  /* Full height */
/*  width: 120%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.tile_x{
  grid-area: sidex;
  /*display: block;*/
  background-color: black;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 1;
}

/*.tile_x2{
  grid-area: sidex2;
  width: 100%; 
  height: 100%; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 1;
}*/


/*.tile_x3{
  grid-area: sidex3;
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 1s;
  opacity: 1;
}*/


.tile_x4{
  grid-area: sidex4;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 1;
}

.tile_1{
  grid-area: side1;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.tile_2{
  grid-area: side2;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 1;
}

.tile_3{
  grid-area: side3;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.tile_4{
  grid-area: side4;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.tile_5{
  grid-area: side5;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.tile_6{
  grid-area: side6;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.tile_7{
  grid-area: side7;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.tile_8{
  grid-area: side8;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.tile_9{
  grid-area: side9;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.tile_10{
  grid-area: side10;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.tile_11{
  grid-area: side11;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}