body {
  height: 100%;
  width: 100vw;
  max-width: 1800px;
  color: white;
  background: linear-gradient(-45deg, #ffcc80, black, #00384d, black);
  background-size: 400% 400%;
  -webkit-animation: Gradient 80s ease infinite;
  -moz-animation: Gradient 80s ease infinite;
  animation: Gradient 80s ease infinite;
  position: relative;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

a{
  text-decoration: none;
}

p{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: lighter;
}

p.hover_description{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
}


h1{
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  color: white;
  font-size: 4rem;
  font-weight: lighter;
  padding-top: 8%;
  padding-bottom: 5%;
}

h2{
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  color: white;
  font-size: 2rem;
  font-weight: lighter;
  padding: 30px;
}

h3{
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 30px;
}

.banner{
  text-align:center;
  display: block;
  width: 70%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.artwork{
  padding-top: 5%;
  text-align:center;
  display: block;
  width: 60%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.grid_background{
  padding: 3%;
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  max-height: 650px;
  max-width: 650px;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-areas: "x1 x2 x3"
                       "x4 x5 x6"
                       "x7 x8 x9"
                       ;
}


.side1{
  grid-area: x1;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
  border-style: solid;
  border-color: white;
}



.side1:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side2{
  grid-area: x2;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side2:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side3{
  grid-area: x3;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side3:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side4{
  grid-area: x4;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side4:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side5{
  grid-area: x5;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side5:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side6{
  grid-area: x6;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side6:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side7{
  grid-area: x7;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side7:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side8{
  grid-area: x8;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side8:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side9{
  grid-area: x9;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side9:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}



.nav{
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "nav1 nav2 nav3"
                       ;
}

.nav1{
  grid-area: nav1;
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
}

.nav2{
  grid-area: nav2;
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
}

.nav3{
  grid-area: nav3;
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
}



.grid_gallery{
  margin: 0 auto;
  max-width: 1400px;
  height: 100%;
  display: grid;
  grid-gap: 3%;
  grid-template-columns: repeat(6, 6fr);
  grid-template-areas: "z1 z1 z2 z2 z3 z3"
                       "z1 z1 z2 z2 z3 z3"
                       "z1 z1 z4 z4 z4 z4"
                       "z5 z5 z6 z7 z7 z8"
                       "z5 z5 z6 z7 z7 z8"
                       "z10 z10 z9 z9 z9 z8"
                       ;
  padding-bottom: 30vh;
}

.gallery1{
  grid-area: z1;
  width: 100%; 
  height: 100%; 
  transition: ease 3s;
  opacity: .7;
}

.gallery1:hover{
  transition: ease .5s;
  opacity: 1;
}

.gallery2{
  grid-area: z2;
  width: 100%; 
  height: 100%; 
  transition: ease 3s;
  opacity: .7;
}

.gallery2:hover{
  transition: ease .5s;
  opacity: 1;
}

.gallery3{
  grid-area: z3;
  width: 100%; 
  height: 100%; 
  transition: ease 3s;
  opacity: .7;
}

.gallery3:hover{
  transition: ease .5s;
  opacity: 1;
}

.gallery4{
  grid-area: z4;
  transition: ease 3s;
  width: 100%; 
  height: 100%; 
  opacity: .7;
}

.gallery4:hover{
  transition: ease .5s;
  opacity: 1;
}

.gallery5{
  grid-area: z5;
  width: 100%; 
  height: 100%; 
  transition: ease 3s;
  opacity: .7;
}

.gallery5:hover{
  transition: ease .5s;
  opacity: 1;
}

.gallery6{
  grid-area: z6;
  width: 100%; 
  height: 100%; 
  transition: ease 3s;
  opacity: .7;
}

.gallery6:hover{
  transition: ease .5s;
  opacity: 1;
}

.gallery7{
  grid-area: z7;
  width: 100%; 
  height: 100%; 
  transition: ease 3s;
  opacity: .7;
}

.gallery7:hover{
  transition: ease .5s;
  opacity: 1;
}

.gallery8{
  grid-area: z8;
  width: 100%; 
  height: 100%; 
  transition: ease 3s;
  opacity: .7;
}

.gallery8:hover{
  transition: ease .5s;
  opacity: 1;
}

.gallery9{
  grid-area: z9;
  width: 100%; 
  height: 100%; 
  transition: ease 3s;
  opacity: .7;
}

.gallery9:hover{
  transition: ease .5s;
  opacity: 1;
}

.gallery10{
  grid-area: z10;
  width: 100%; 
  height: 100%; 
  transition: ease 3s;
  opacity: .7;
}

.gallery10:hover{
  transition: ease .5s;
  opacity: 1;
}

.bg-boba_menuboard {
  /* The image used */
  background-image: url(../images/bfa/tea_menu.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
  opacity: .3;
}