body{
  background-color: black;
}

p{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

h1{
  font-family: 'Rajdhani', sans-serif;
  margin: 0 auto;
  color: white;
  font-size: 3rem;
}

h3{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.5em;
}

h5{
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  max-width: 66%;
}

form{
  padding-bottom: 3rem;
}

i{
  padding: 1rem;
  font-size: 1.5em;
}
/*FOUNDATION ZURB TOPBAR */

.topbar-responsive {
  background: black;
  padding: 1rem 1.5rem;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5em;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
  opacity: 1;
  transition: .5s ease;
}

.topbar-responsive .topbar-responsive-logo:hover {
  opacity: .6;
}

.topbar-responsive .menu {
  background: black;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}

/*ZURB Hero image */

.hero_padding{
  padding-top: 60px;
}

.hero-section {

  background: linear-gradient(transparent, black), url("../images/gallery_banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section_yorha {

  background: url("../images/yorha_banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

.hero-section_secondhand_manga {

  background: url("../images/secondhand_manga_banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1400px) {
.hero-section_secondhand_manga {

  background: url("../images/secondhand_manga_banner.jpg") 50% no-repeat;
  background-size: cover;
  background-position: 80%;
  height: 300px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}
}

.hero-section_kirijo {

  background: url("../images/kirijo_banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1400px) {
.hero-section_kirijo {

  background: url("../images/kirijo_banner.jpg") 50% no-repeat;
  background-size: cover;
  background-position: 40%;
  height: 300px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}
}

@media screen and (max-width: 800px) {
.hero-section_kirijo {

  background: url("../images/kirijo_banner.jpg") 50% no-repeat;
  background-size: cover;
  background-position: 80%;
  height: 300px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}
}


.hero-section_hannya {

  background: url("../images/hannya_banner_mix.jpg") 50% no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1000px) {
.hero-section_hannya {

  background: url("../images/hannya_banner_mix.jpg") 50% no-repeat;
  background-size: cover;
  height: 300px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}
}

.hero-section_cafe {

  background: url("../images/makoto_cafe_banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 600px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}

@media screen and (max-width: 1000px) {
.hero-section_cafe {

  background: url("../images/makoto_cafe_banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 300px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease 1s;
}
}

.hero-section_about1{

  background: linear-gradient(transparent, black), url("../images/calvin_and_hobbes.jpg") 50% no-repeat;
    height: 60vh;
  background-size: cover;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section_about2{

  background: url("../images/workspace.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.hero-section_about3{

  background: url("../images/westolh.jpg") 50% no-repeat;
  background-size: cover;
  height: 90vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section_about4{

  background: url("../images/bike.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section_about5{

  background: linear-gradient(transparent, black), url("../images/calvin_and_hobbes_2.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section_about6{

  background: linear-gradient(transparent, black), url("../images/hifumi_wallpaper_banner.jpg") 50% no-repeat;
  background-size: cover;
  background-position: 20%;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: ease .5s;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
  margin-left: 18px;
}

.hero-section_art74 .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
  margin-left: 18px;
}

.hero-section_about1 .hero-section-text_about1 {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
  margin-left: 18px;
}

.hero-section_about2 .hero-section-text_about2 {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
  margin-left: 18px;
}

.hero-section_about3 .hero-section-text_about3 {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
  margin-left: 18px;
}

.hero-section_about4 .hero-section-text_about4 {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
  margin-left: 18px;
}

.hero-section_about5 .hero-section-text_about5 {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
  margin-left: 18px;
}



/*FOOTER by Zurb building blocks*/

.marketing-site-footer {
  background: black;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5em;
}

.marketing-site-footer .column-block {
  margin-bottom: 30px;
}

.marketing-site-footer > .row {
  margin-bottom: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .marketing-site-footer .columns {
    margin-bottom: 2rem;
  }
}

.marketing-site-footer-bottom {
  background: black;
  padding: 1rem 0;
}

.marketing-site-footer-bottom p,
.marketing-site-footer-bottom .menu {
  margin-bottom: 0;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a {
  color: white;
  opacity: 1;
  transition: .5s ease;
}

.marketing-site-footer-bottom .marketing-site-footer-bottom-links a:hover {
  opacity: .6;
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom .marketing-site-footer-bottom-links {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 63.9375em) {
  .marketing-site-footer-bottom {
    text-align: center;
  }
}



/*GALLERY HERO IMAGE*/

.front_artwork {
  text-align:center;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.front_artwork_bottom {
  text-align:center;
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  background-color: black;
  position: relative;
}

.cyberpunk_hifumi_resize {
  max-height: 875px;
}

.front_artwork_text{
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
  color: white;
  text-align: center;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 30px;
}

.front_artwork_text_bottom{
  font-family: 'Rajdhani', sans-serif;
  font-size: 2em;
  color: white;
  text-align: center;
  background-color: black;
  padding-top: 15px;
  padding-bottom: 100px;
}

.frontpage_artwork_text_left{
  font-family: 'Rajdhani', sans-serif;
  width:100%;
  height: inherit;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: ease .5s;
}

.frontpage_artwork_text_left:hover {
  font-family: 'Rajdhani', sans-serif;
  width:100%;
  height: inherit;
  font-size: 2em;
  color: white;
  text-align: center;
  background: linear-gradient(135deg, black, transparent);
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 1;
  transition: ease .5s;
}

.frontpage_artwork_text_right{
  font-family: 'Rajdhani', sans-serif;
  width:100%;
  height: inherit;
  font-size: 2em;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: ease .5s;
}

.frontpage_artwork_text_right:hover {
  font-family: 'Rajdhani', sans-serif;
  width:100%;
  height: inherit;
  font-size: 2em;
  color: white;
  text-align: center;
  background: linear-gradient(-135deg, black, transparent);
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 1;
  transition: ease .5s;
}

/* PARALLELOGRAM */
.parallelograms {
  margin: 0 auto;
  max-width: 100vw;
  display: grid;
/*  grid-gap: 30px;*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "side1 side2 side3 side4" ;
    overflow: hidden;
}

.parallelograms_row2 {
  margin: 0 auto;
  max-width: 100vw;
  display: grid;
/*  grid-gap: 30px;*/
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "side1 side2" ;
    overflow: hidden;
}

@media screen and (max-width: 1800px) {
  .parallelograms {
    margin: 0 auto;
  max-width: 100vw;
  display: grid;
/*  grid-gap: 15px;*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "side1 side2 side3 side4" ;
  overflow: hidden;
}
}


@media screen and (max-width: 900px) {
  .parallelograms {
  margin: 0 auto;
  max-width: 100vw;
  max-height: 600px;
  display: grid;
/*  grid-gap: 15px;*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  600px;
  grid-template-areas: "side1 side2 side3 side4" ;
  overflow: hidden;
}
}

@media screen and (max-width: 600px) {
  .parallelograms {
  margin: 0 auto;
  max-width: 100vw;
  max-height: 400px;
  display: grid;
/*  grid-gap: 5px;*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  400px;
  grid-template-areas: "side1 side2 side3 side4" ;
  overflow: hidden;
}
}

@media screen and (max-width: 450px) {
  .parallelograms {
  margin: 0 auto;
  max-width: 100vw;
  max-height: 400px;
  display: grid;
/*  grid-gap: 5px;*/
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  400px;
  grid-template-areas: "side1 side2 side3 side4" ;
  overflow: hidden;
}
}

.parallelogram_gradient {
  display: block;
  width: 100%; 
  height: 850px; 
  background: linear-gradient(90deg, black, transparent, transparent, transparent, transparent);
  overflow: hidden;
  position: relative;
  transition: ease .5s;
}

.parallelogram_gradient_left {
  display: block;
  width: 140%; 
  height: 850px; 
  background: linear-gradient(90deg, black, transparent, transparent, transparent, transparent);
  overflow: hidden;
  position: relative;
  transition: ease .5s;
}

.parallelogram_gradient_right {
  display: block;
  width: 100%; 
  height: 850px; 
  background: linear-gradient(90deg, black, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
  overflow: hidden;
  position: relative;
  transition: ease .5s;
}

.parallelogram_row2 {
  display: block;
  width: 100%; 
  height: 640px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
}

.parallelogram {
  display: block;
  width: 100%; 
  height: 850px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
}

@media screen and (max-width: 1800px) {
.parallelogram {
  display: block;
  width: 100%;  
  height: 850px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
/*  -moz-transform: transition: ease .5s;*/
}
}

@media screen and (max-width: 1600px) {
.parallelogram {
  display: block;
  width: 100%; 
  height: 850px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
/*  -moz-transform: transition: ease .5s;*/
}
}

@media screen and (max-width: 1400px) {
.parallelogram {
  display: block;
  width: 100%; 
  height: 850px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
/*  -moz-transform: transition: ease .5s;*/
}
}

@media screen and (max-width: 1400px) {
.parallelogram {
  display: block;
  width: 100%; 
  height: 850px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
/*  -moz-transform: transition: ease .5s;*/
}
}

@media screen and (max-width: 1200px) {
.parallelogram {
  display: block;
  width: 100%; 
  height: 850px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
/*  -moz-transform: transition: ease .5s;*/
}
}

@media screen and (max-width: 900px) {
.parallelogram {
  display: block;
  width: 100%;  
  height: 600px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
/*  -moz-transform: transition: ease .5s;*/
}
}

@media screen and (max-width: 600px) {
.parallelogram {
  display: block;
  width: 100%; 
  height: 400px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
}
}

@media screen and (max-width: 450px) {
.parallelogram {
  margin-left: -15px;
  display: block;
  width: 100%; 
  height: 400px; 
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease .5s;
}
}

.parallelogram:nth-child(1) {
  grid-area: side1;
}

.parallelogram:nth-child(2) {
  grid-area: side2;
}

.parallelogram:nth-child(3) {
  grid-area: side3;
}

.parallelogram:nth-child(4) {
  grid-area: side4;
}

.parallelogram img {
  display: block;
-webkit-transform: skew(20deg);
-moz-transform: skew(20deg);
-o-transform: skew(20deg);
transform: skew(20deg);
max-width: 2000px;
position: absolute;
opacity: 1;
transition: ease .5s;
z-index: -1;
}

.parallelogram_row2 img {
  display: block;
-webkit-transform: skew(20deg);
-moz-transform: skew(20deg);
-o-transform: skew(20deg);
transform: skew(20deg);
max-width: 2000px;
position: absolute;
opacity: 1;
transition: ease .5s;
z-index: -1;
}


.parallelogram img:hover {
opacity: 1;
}

.frontpage_hifumi {
left: 0px;
}

@media screen and (max-width: 1400px) {
.frontpage_hifumi {
left: -50px;
}
}

@media screen and (max-width: 1200px) {
.frontpage_hifumi {
left: -100px;
}
}

@media screen and (max-width: 1000px) {
.frontpage_hifumi {
left: -150px;
}
}

@media screen and (max-width: 800px) {
.frontpage_hifumi {
left: -200px;
}
}

@media screen and (max-width: 600px) {
.frontpage_hifumi {
left: -250px;
}
}

@media screen and (max-width: 500px) {
.frontpage_hifumi {
left: -270px;
}
}

.frontpage_makoto_2038 {
left: -220px;
}

@media screen and (max-width: 1400px) {
  .frontpage_makoto_2038 {
left: -280px;
}
}

@media screen and (max-width: 1000px) {
  .frontpage_makoto_2038 {
left: -310px;
}
}

@media screen and (max-width: 900px) {
  .frontpage_makoto_2038 {
left: -340px;
}
}

@media screen and (max-width: 800px) {
  .frontpage_makoto_2038 {
left: -360px;
}
}

@media screen and (max-width: 700px) {
  .frontpage_makoto_2038 {
left: -380px;
}
}

.frontpage_hifumi_wallpaper{
left: -240px;
}

@media screen and (max-width: 1300px) {
  .frontpage_hifumi_wallpaper{
left: -270px;
}
}

@media screen and (max-width: 1100px) {
  .frontpage_hifumi_wallpaper{
left: -320px;
}
}

@media screen and (max-width: 800px) {
  .frontpage_hifumi_wallpaper{
left: -350px;
}
}

@media screen and (max-width: 600px) {
  .frontpage_hifumi_wallpaper{
left: -400px;
}
}


.frontpage_mona{
left: -220px;
}

@media screen and (max-width: 900px) {
.frontpage_mona {
left: -420px;
top: -100px;
}
}

@media screen and (max-width: 600px) {
.frontpage_mona {
left: -520px;
top: -275px;
}
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 850px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* transition effect. not necessary */
  transition: opacity .75s, visibility .75s;
}
}

.img__description_2 {
  position: absolute;
  top: 850px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 850px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* transition effect. not necessary */
  transition: opacity .75s, visibility .75s;
}
}

@media screen and (max-width: 900px) {
  .img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 600px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* transition effect. not necessary */
  transition: opacity .75s, visibility .75s;
}
}

@media screen and (max-width: 600px) {
  .img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  height: 400px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  /* transition effect. not necessary */
  transition: opacity .75s, visibility .75s;
}
}

.parallelogram:hover .img__description {
  visibility: visible;
  opacity: 1;
  height: 850px;
}


@media screen and (max-width: 900px) {
.parallelogram:hover .img__description {
  visibility: visible;
  opacity: 1;
  height: 600px;
}
}

@media screen and (max-width: 600px) {
.parallelogram:hover .img__description {
  visibility: visible;
  opacity: 1;
  height: 400px;
}
}

.parallelogram:hover .img__description_2 {
  visibility: visible;
  opacity: 1;
  height: 850px;
}

.background_gradient {
  background: -webkit-linear-gradient(transparent, transparent, #191919);
  background: -o-linear-gradient(transparent, transparent, #191919);
  background: linear-gradient(transparent, transparent, #191919);
}

.SFD_logo_tall {
  display: block;
  width: 391px;
  height: 200px;
  background: url(../images/SFD_logo_tall.svg);
  background-size: 391px 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem ;
  opacity: 1;
  transition: ease .5s;
}
@media screen and (max-width: 400px) {
  .SFD_logo_tall {
  display: block;
  width: 351px;
  height: 160px;
  background: url(../images/SFD_logo_tall.svg);
  background-size: 351px 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem ;
  opacity: 1;
  transition: ease .5s;    
}
}

.SFD_logo_tall:hover {
  opacity: .6;
}

.SFD_logo_long {
  width: 362px;
  height: 40px;
  background: url(../images/SFD_logo_long.gif);
  background-size: 362px 40px;
  opacity: 1;
  transition: ease .5s;
  margin: 0 auto;
}

.SFD_logo_long:hover {
  opacity: .6;
}

/*ZURB FOUNDATION SOCIAL MEDIA FOOTER*/
.social-links {
  background: black;
  padding: 2rem 0 1rem;
}

.social-links a {
  color: white;
  font-size: 1.2rem;
}

.social-links i.fa {
  font-size: 1.8rem;
  padding: 1rem;
}

@media screen and (max-width: 39.9375em) {
  .social-links {
    padding: 2rem 0;
  }
  .social-links i.fa {
    font-size: 2rem;
    display: block;
    padding-right: 0;
    padding-bottom: 0.5rem;
  }
  .social-links a {
    font-weight: bold;
  }
  .social-links .columns {
    margin: 1rem 0;
  }
  .social-links .mobile-stack {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.social-links a{  
  opacity: 1;
  transition: .5s ease;
}

.social-links a:hover{
  opacity: .6;
}

/*Inquiries Page */

.inquiries_box {
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
  padding-top: 80px;
  margin: auto;
}

input.requiredinfo {
  display: inline;
  max-width: 250px;
}

input.messagebox {
  display: inline;
  max-width: 500px;
  height: 150px;
}

p.inquiries_message{
  background-color: black;
}

.bg-image_mitsuru {
  /* The image used */
  background-image: url(../images/mitsuru_small.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 120%;
  width: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .2;
}

.bg-image_makoto_cafe {
  /* The image used */
  background-image: url(../images/cafe_scene.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 120%;
  width: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .2;
}

.bg-image_jdn {
  /* The image used */
  background-image: url(../images/cafe_scene.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 120%;
  width: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .2;
}

.bg-image_secondhand_manga {
  /* The image used */
  background-image: url(../images/secondhand_manga_small.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .2;
}

.bg-image_jdn {
  /* The image used */
  background-image: url(../images/jdn_wallpaper_small.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .2;
}

.bg-image_hannya {
  /* The image used */
  background-image: url(../images/hannya_dark_small.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .2;
}

.bg-image_pt {
  /* The image used */
  background-image: url(../images/akira_kasumi_small.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .2;
}

.bg-image_mona-chan {
  /* The image used */
  background-image: url(../images/mona-chan_small.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .2;
}

.bg-image_yorha {
  /* The image used */
  background-image: url(../images/cyberpunk_yorha_lineup_2_small.jpg);

  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1000;
  opacity: .2;
}

.image_assets:hover {
  opacity: 1;
}

.image_assets{
  padding: 3px 8px;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  left: calc(50%);
  transform: translate(-50%,0);
  bottom: 15px;
  z-index: 1000;
  opacity: 0;
    background-color:rgba(30,37,39,.5);
   -webkit-transition:opacity .25s;
 transition:opacity .25s;
 -webkit-box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
 box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
   -webkit-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.front_artwork:hover .image_assets{
  padding: 3px 8px;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  left: calc(50%);
  transform: translate(-50%,0);
  bottom: 15px;
  z-index: 1000;
  opacity: 1;
  background-color:rgba(30,37,39,.5);
   -webkit-transition:opacity .25s;
 transition:opacity .25s;
 -webkit-box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
 box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
   -webkit-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* comment 
-------------------------------------------*/

.front_artwork_bottom:hover .image_assets{
  padding: 3px 8px;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  left: calc(50%);
  transform: translate(-50%,0);
  bottom: 15px;
  z-index: 1000;
  opacity: 1;
  background-color:rgba(30,37,39,.5);
   -webkit-transition:opacity .25s;
 transition:opacity .25s;
 -webkit-box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
 box-shadow:1px 1px 5px 0 rgba(0,0,0,.5);
   -webkit-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* sub */

.buttons{
  padding: 8px 16px;
  color: white;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  text-align: center;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 2px;
  -webkit-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.buttons:hover .buttons:focus .buttons:active{
  color: #389ada ;
}

/*About Page grids*/
/*----------------------------------------------------*/

#about_grid{
  margin: 0 auto;
  max-width: 100vw;
  height: 100%;
/*  max-height: 1000px;*/
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 3fr);
  grid-template-areas: "sidex4 side1 side1"
                       "sidex3 sidex3 side2"
                       "side3 side3 sidex2"
                        ;
    overflow: hidden;
      background-image: url(../images/mitsuru_small.jpg);

  /* Add the blur effect */
/*  filter: blur(4px);
  -webkit-filter: blur(4px);*/

  /* Full height */
/*  width: 120%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 80em) {
  #about_grid{
  margin: 0 auto;
  max-width: 100vw;
  height: 100%;
/*  max-height: 1000px;*/
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 3fr);
  grid-template-areas: "sidex4 side1 side1"
                       "sidex3 sidex3 side2"
                       "side3 side3 side3"
                        ;
    overflow: hidden;
      background-image: url(../images/mitsuru_small.jpg);

  /* Add the blur effect */
/*  filter: blur(4px);
  -webkit-filter: blur(4px);*/

  /* Full height */
/*  width: 120%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}


@media screen and (max-width: 39.9375em) {
#about_grid{
  margin: 0 auto;
  max-width: 100vw;
  height: 100%;
/*  max-height: 1000px;*/
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(1, 3fr);
  grid-template-areas: "sidex"
                       "side1"
                       "side3"
                        ;
    overflow: hidden;
      background-image: url(../images/mitsuru_small.jpg);

  /* Add the blur effect */
/*  filter: blur(4px);
  -webkit-filter: blur(4px);*/

  /* Full height */
/*  width: 120%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}


.tile_x{
  grid-area: sidex;
  /*display: block;*/
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 0;
}

@media screen and (max-width: 39.9375em) {
  .tile_x{
  grid-area: sidex;
  /*display: block;*/
  width: 100%; 
  height: 0px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 0;
}
}

.tile_x2{
  grid-area: sidex2;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 0;
}

.tile_x3{
  grid-area: sidex3;
  /*display: block;*/
  width: 100%; 
  height: 75px; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 0;
}

@media screen and (max-width: 39.9375em) {
  .tile_x3{
  grid-area: sidex3;
  /*display: block;*/
  width: 100%; 
  height: 0px; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 0;
}
}

.tile_x4{
  grid-area: sidex4;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: 0;
}

.tile_1{
  grid-area: side1;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

@media screen and (max-width: 39.9375em) {
  .tile_1{
  grid-area: side1;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}
}

.tile_2{
  grid-area: side2;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: black;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .5;
}

.tile_3{
  grid-area: side3;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

@media screen and (max-width: 39.9375em) {
  .tile_3{
  grid-area: side3;
  /*display: block;*/
  width: 100%; 
  height: 100%; 
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}
}

.about_text{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  opacity: 1;
}

@media screen and (max-width: 80em) {
.about_text{
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
  opacity: 1;
}
}

@media screen and (max-width: 39.9375em) {
.about_text{
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  opacity: 1;
}
}

.about_text_intro{
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: white;
  text-align: center;
  top: 30%;
  padding-top: 20px;
  padding-bottom: 30px;
  opacity: 1;
  transform: translateY(-50%);
  position: relative;
  margin: 50px;
}

@media screen and (max-width: 80em) {
.about_text_intro{
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  color: white;
  text-align: center;
  top: 30%;
  padding-top: 0px;
  padding-bottom: 30px;
  opacity: 1;
  transform: translateY(-50%);
  position: relative;
  margin: 50px;
}

@media screen and (max-width: 39.9375em) {
.about_text_intro{
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: white;
  text-align: center;
  top: 30%;
  padding-top: 10px;
  opacity: 1;
  transform: translateY(-50%);
  position: relative;
  margin: 50px;
}
}


/*---------------Contact Grid------------------*/


.contact_grid{
  margin: 0 auto;
  max-width: 100vw;
  height: 100%;
/*  max-height: 1000px;*/
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "contact_form contact_social";
  overflow: hidden;
}

.contact_form{
  grid-area: contact_form;
  /*display: block;*/
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}

.contact_social{
  grid-area: contact_social;
  /*display: block;*/
  width: 100%; 
  height: 100px; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
}


/*---------------Contact Grid END------------------*/