body{
  background-color: black;
}

img{
  height: 100%;
  z-index: 1;
  border-right: 1000px;
  border-left: 1000px;
  border-style: solid;
  border-color: black;
}

@media screen and (max-width: 1700px) {
  .cyberpunk_hifumi {
  margin-left: 100px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 1500px) {
  .cyberpunk_hifumi {
  margin-left: 200px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 1300px) {
  .cyberpunk_hifumi {
  margin-left: 300px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 1100px) {
  .cyberpunk_hifumi {
  margin-left: 400px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 900px) {
  .cyberpunk_hifumi {
  margin-left: 450px;
  height: 100%;
  transition: ease .5s;
}
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  position: relative;
  justify-content: flex-start;
  align-items: center;
}
