body {
	width: 100wh;
	height: 100vh;
	color: black;
	background: linear-gradient(-45deg, #ff0000, #3a0000, #00353a, #00e9ff);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	position: relative;
}

@media screen and (max-width: 1500px) {
body {
  width: 100wh;
  height: 100vh;
  color: black;
  background: linear-gradient(-45deg, #ff0000, #3a0000, #00353a, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  position: relative;
}
}

@media screen and (max-width: 1300px) {
body {
  width: 100wh;
  height: 100vh;
  color: black;
  background: linear-gradient(-45deg, #ff0000, #ff0000, #00e9ff, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  position: relative;
}
}

@media screen and (max-width: 1100px) {
body {
  width: 100wh;
  height: 100vh;
  color: black;
  background: linear-gradient(-45deg, #ff0000, #ff0000, #00e9ff, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  position: relative;
}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.container {
z-index: -1000;
  position: relative; 
  overflow: hidden; 
}

/* glitch elem must have absolute position */
 .glitch-img {
 background-image: url('../images/sikyo_background.png');
   position: fixed; 
   width : 100%; 
   height : 1080px; 
   top: 80px ; 
   left : 0; 
/*   background-position:center;  */
   -moz-background-size:cover;
   -o-background-size:cover;
   -webkit-background-size:cover;
   background-size:cover;
   background-repeat: no-repeat;
   opacity : 1;
   width: 100vw
 } 

@media screen and (max-width: 1500px) {
.glitch-img{
  background-image: url('../images/sikyo_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 810px;
  width: 100vw;
}
}

@media screen and (max-width: 1300px) {
.glitch-img{
  background-image: url('../images/sikyo_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 810px;
  width: 100vw;
}
}

@media screen and (max-width: 1100px) {
.glitch-img{
  top: 200px;
  background-image: url('../images/sikyo_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  width: 100vw;
}
}

@media screen and (max-width: 900px) {
.glitch-img{
  background-image: url('../images/sikyo_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  width: 100vw;
}
}

@media screen and (max-width: 700px) {
.glitch-img{
  background-image: url('../images/sikyo_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  width: 100vw;
}
}

@media screen and (max-width: 500px) {
.glitch-img{
  background-image: url('../images/sikyo_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 540px;
  width: 100vw;
}
}

.sikyo_isolated{
	z-index: 100;
  background-image: url('../images/sikyo_isolated.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 200px;
  height: 1080px;
  transition: ease 1s;
}

@media screen and (max-width: 1500px) {
.sikyo_isolated{
  background-image: url('../images/sikyo_isolated.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 150px;
  height: 810px;
  transition: ease 1s;
}
}

@media screen and (max-width: 1300px) {
.sikyo_isolated{
  background-image: url('../images/sikyo_isolated.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100px;
  height: 810px;
  transition: ease 1s;
}
}

@media screen and (max-width: 1100px) {
.sikyo_isolated{
  background-image: url('../images/sikyo_isolated.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50px;
  height: 540px;
  transition: ease 1s;
}
}

@media screen and (max-width: 900px) {
.sikyo_isolated{
  background-image: url('../images/sikyo_isolated.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  height: 540px;
  transition: ease 1s;
}
}


.sikyo_bottom{
	z-index: 100;
  background-image: url('../images/sikyo_bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  transition: ease 1s;
}

@media screen and (max-width: 1500px) {
.sikyo_bottom{
  background-image: url('../images/sikyo_bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
/*  background-position: -200px;*/
  height: 810px;
  transition: ease 1s;
}
}

@media screen and (max-width: 1300px) {
.sikyo_bottom{
  background-image: url('../images/sikyo_bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -75px;
  height: 810px;
  transition: ease 1s;
}
}

@media screen and (max-width: 1100px) {
.sikyo_bottom{
  background-image: url('../images/sikyo_bottom.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -125px;
  height: 540px;
  transition: ease 1s;
}
}

.sikyo_SFS{
	z-index: 100;
  background-image: url('../images/sikyo_SFS.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  transition: ease 1s;
}

@media screen and (max-width: 1500px) {
.sikyo_SFS{
  background-image: url('../images/sikyo_SFS.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -200px;
  height: 810px;
  transition: ease 1s;
}
}

@media screen and (max-width: 1300px) {
.sikyo_SFS{
  background-image: url('../images/sikyo_SFS.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -300px;
  height: 810px;
  transition: ease 1s;
}
}

@media screen and (max-width: 1100px) {
.sikyo_SFS{
  background-image: url('../images/sikyo_SFS.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -400px;
  height: 540px;
  transition: ease 1s;
}
}


.sikyo_boxes{
	z-index: 100;
  background-image: url('../images/sikyo_boxes.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: screen;
  height: 1080px;
  transition: ease 1s;
}

@media screen and (max-width: 1500px) {
.sikyo_boxes{
  background-image: url('../images/sikyo_boxes.png');
  background-repeat: no-repeat;
  background-size: cover;
/*  background-position: -200px;*/
  height: 810px;
  transition: ease 1s;
}
}

@media screen and (max-width: 1300px) {
.sikyo_boxes{
  background-image: url('../images/sikyo_boxes.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -75px;
  height: 810px;
  transition: ease 1s;
}
}

@media screen and (max-width: 1100px) {
.sikyo_boxes{
  background-image: url('../images/sikyo_boxes.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -125px;
  height: 540px;
  transition: ease 1s;
}
}