/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */


/*img{
  height:100%;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  background-color: black;
  font:normal 75% Arial, Helvetica, sans-serif;
}*/

body{
  overflow: hidden;
  background-color: black;
}

canvas{
  display: block;
  vertical-align: bottom;
  width: 100%;

}

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../images/background2.png');
  background-color: black;

}

.hifumi_isolated{
  position: absolute;
  height: 100%;
  transition: ease .7s;
}

@media screen and (max-width: 1500px) {
  .hifumi_isolated {
  margin-left: -100px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 1300px) {
  .hifumi_isolated {
  margin-left: -150px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 1100px) {
  .hifumi_isolated {
  margin-left: -200px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 900px) {
  .hifumi_isolated {
  margin-left: -250px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 700px) {
  .hifumi_isolated {
  margin-left: -300px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 500px) {
  .hifumi_isolated {
  margin-left: -350px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 800px) and (max-height: 800px) {
  .hifumi_isolated {
  margin-left: 0px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 700px) and (max-height: 800px) {
  .hifumi_isolated {
  margin-left: -50px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 600px) and (max-height: 800px) {
  .hifumi_isolated {
  margin-left: -100px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 500px) and (max-height: 800px) {
  .hifumi_isolated {
  margin-left: -150px;
  height: 100%;
  transition: ease .5s;
}
}

.text{
  position: absolute;
  height: 100%;
  transition: ease .7s;
}

@media screen and (max-width: 1500px) {
  .text {
  margin-left: -50px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 1300px) {
  .text {
  margin-left: -75px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 1100px) {
  .text {
  margin-left: -100px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 900px) {
  .text {
  margin-left: -125px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 700px) {
  .text {
  margin-left: -150px;
  height: 100%;
  transition: ease .5s;
}
}

@media screen and (max-width: 500px) {
  .text {
  margin-left: -175px;
  height: 100%;
  transition: ease .5s;
}
}

.img1{
  position: absolute;
  height: 100%;
  transition: ease .7s;
}

.img2{
  position: absolute;
  transition: ease 5s;
  overflow: hidden;
}
