/*Gradient is code I made from my previous artwork ItsSikyo
*/

/* A gradient tilted 45 degrees,
   starting blue and finishing red */

/*This tells where the the gradient position starts and where it ends and is linked to CSS animation code above. 
For example at 0% time the gradient progresses until 100%*/

body {
  width: 100wh;
  height: 100vh;
  color: white;
  background: linear-gradient(-45deg, #ffcc80, #ffcc80, #00353a, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  position: relative;
}

@media screen and (max-width: 1500px) {
body {
  width: 100wh;
  height: 100vh;
  color: white;
  background: linear-gradient(-45deg, #ffcc80, #ffcc80, #00353a, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  position: relative;
}
}

@media screen and (max-width: 1300px) {
body {
  width: 100wh;
  height: 100vh;
  color: white;
  background: linear-gradient(-45deg, #ffcc80, #ffcc80, #00e9ff, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  position: relative;
}
}

@media screen and (max-width: 1100px) {
body {
  width: 100wh;
  height: 100vh;
  color: white;
  background: linear-gradient(-45deg, #ffcc80, #ffcc80, #00e9ff, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  position: relative;
}
}

/*------------------FROM MDN-------------------------
Since the timing of the animation is defined in the CSS style that configures the animation, 
keyframes use a <percentage> to indicate the time during the animation sequence at which they take place. 
0% indicates the first moment of the animation sequence, while 100% indicates the final state of the animation.
*/

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

/*---------------Gradient Section End ---------------
*/


.grid_background{
  padding: 2%;
  margin: 0 auto;
/*  width: 80vw;*/
  height: 850px;
  widows: 850px;
  max-height: 50vw;
  max-width: 50vw;
  display: grid;
  grid-template-columns: repeat(6, 6fr);
  grid-template-areas: "x1 x2 x3 x4 x5 x6"
                       "x7 x8 x9 x10 x11 x12"
                       "x13 x14 x15 x16 x17 x18"
                       "x19 x20 x21 x22 x23 x24"
                       "x25 x26 x27 x28 x29 x30"
                       "x31 x32 x33 x34 x35 x36"
                       ;
}

.side1{
  grid-area: x1;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
  border-style: solid;
  border-color: white;
}

.side1:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side2{
  grid-area: x2;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side2:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side3{
  grid-area: x3;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side3:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side4{
  grid-area: x4;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side4:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side5{
  grid-area: x5;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side5:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side6{
  grid-area: x6;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side6:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side7{
  grid-area: x7;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side7:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side8{
  grid-area: x8;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side8:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side9{
  grid-area: x9;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side9:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side10{
  grid-area: x10;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side10:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side11{
  grid-area: x11;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side11:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side12{
  grid-area: x12;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side12:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side13{
  grid-area: x13;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side13:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side14{
  grid-area: x14;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side14:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side15{
  grid-area: x15;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side15:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side16{
  grid-area: x16;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side16:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side17{
  grid-area: x17;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side17:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side18{
  grid-area: x18;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side18:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side19{
  grid-area: x19;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side19:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side20{
  grid-area: x20;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side20:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side21{
  grid-area: x21;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side21:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side22{
  grid-area: x22;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}


.side22:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}


.side23{
  grid-area: x23;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side23:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side24{
  grid-area: x24;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side24:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side25{
  grid-area: x25;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side25:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side26{
  grid-area: x26;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side26:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side27{
  grid-area: x27;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side27:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side28{
  grid-area: x28;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side28:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side29{
  grid-area: x29;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side29:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side30{
  grid-area: x30;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side30:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side31{
  grid-area: x31;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side31:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side32{
  grid-area: x32;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side32:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side33{
  grid-area: x33;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side33:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side34{
  grid-area: x34;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side34:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side35{
  grid-area: x35;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side35:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
}

.side36{
  grid-area: x36;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  transition: ease 5s;
  opacity: 1;
    border-style: solid;
  border-color: white;
}

.side36:hover{
transform: rotate(0deg);
transition: ease .5s;
background-color: white;
          border-style: solid;
  border-color: white;
  transform: scale(1.5);
}
