

/*Gradient is code I made from my previous artwork ItsSikyo
*/

/* A gradient tilted 45 degrees,
   starting blue and finishing red */

/*This tells where the the gradient position starts and where it ends and is linked to CSS animation code above. 
For example at 0% time the gradient progresses until 100%*/

body {
  width: 100wh;
  height: 100vh;
  color: white;
  background: linear-gradient(-45deg, #00cc7a, #00cc7a, #00353a, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  position: relative;
}

@media screen and (max-width: 1500px) {
body {
  width: 100wh;
  height: 100vh;
  color: white;
  background: linear-gradient(-45deg, #00cc7a, #00cc7a, #00353a, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  position: relative;
}
}

@media screen and (max-width: 1300px) {
body {
  width: 100wh;
  height: 100vh;
  color: white;
  background: linear-gradient(-45deg, #00cc7a, #00cc7a, #00e9ff, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  position: relative;
}
}

@media screen and (max-width: 1100px) {
body {
  width: 100wh;
  height: 100vh;
  color: white;
  background: linear-gradient(-45deg, #00cc7a, #00cc7a, #00e9ff, #00e9ff);
  background-size: 400% 400%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
  position: relative;
}
}


@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

/*---------------Gradient Section End ---------------
*/
.grid_background{
  margin: 0 auto;
/*  width: 80vw;*/
  height: 100%;
  widows: 100%;
  max-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 6fr);
  grid-template-areas: "x1 x1 x1 x1 x1 x1" /*I made shapes out of the template areas to make the weird spiral shape*/
                       "x2 x5 x5 x5 x5 x4"
                       "x2 x6 x9 x9 x8 x4"
                       "x2 x6 x10 x11 x8 x4"
                       "x2 x6 x7 x7 x7 x4"
                       "x2 x3 x3 x3 x3 x3"
                       ;
  transition: ease 3s;
}

.side1{
  grid-area: x1;
  background: -webkit-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  background: -o-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  background: linear-gradient(to top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4; /*I added a bit of opacity so the pulsing background gradient could show through a bit.*/
}

.side1:hover{
background: -webkit-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
}

.side2{
  grid-area: x2;

  background: -webkit-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4;
}

.side2:hover{
background: -webkit-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
}

.side3{
  grid-area: x3;

  background: -webkit-linear-gradient(top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4;
}

.side3:hover{
background: -webkit-linear-gradient(top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
}

.side4{
  grid-area: x4;

  background: -webkit-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4;
}

.side4:hover{
background: -webkit-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
}

.side5{
  grid-area: x5;

  background: -webkit-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4;
}

.side5:hover{
background: -webkit-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
}

.side6{
  grid-area: x6;

  background: -webkit-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4;
}

.side6:hover{
background: -webkit-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
}

.side7{
  grid-area: x7;

  background: -webkit-linear-gradient(top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4;
}

.side7:hover{
background: -webkit-linear-gradient(top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
}

.side8{
  grid-area: x8;

  background: -webkit-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4;
}

.side8:hover{
background: -webkit-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
}

.side9{
  grid-area: x9;

  background: -webkit-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4;
}

.side9:hover{
background: -webkit-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
}

.side10{
  grid-area: x10;

  background: -webkit-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4;
}

.side10:hover{
background: -webkit-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
}

.side11{
  grid-area: x11;

background: -webkit-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: ease 3s;
  opacity: .4;
}

.side11:hover{
background: -webkit-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: -o-linear-gradient(top left, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
background: linear-gradient(to bottom right, #b3ffe0, #b3ffe0, #00e9ff, #00e9ff);
  transition: ease 3s;
  opacity: 1;
    border-style: solid;
  border-color: white;
  transform: scale(1.5);
}